// Layout

$space-sm: 0.4rem;
$space-md: 1.2rem;
$space-lg: 2rem;

// Typography

$font-sans: "Rubik", sans-serif;
$font-serif: "Merriweather", serif;

$size-sm: 0.8rem;
$size-md: 1rem;
$size-lg: 1.2rem;
$size-xl: 1.6rem;
$size-2xl: 2.4rem;

@mixin font-display {
    font-family: $font-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@mixin font-technical {
    font-family: $font-sans;
    font-weight: 300;
    font-style: normal;
}

@mixin font-content {
    font-family: $font-sans;
    font-weight: normal;
    font-style: normal;
}

// Colors

$color-primary: #6d4c41;
$color-secondary: #3359d8;
$color-dark: #302525;
$color-subtle: #c4bdbd;
$color-base: #ffffff;
