// Layout

$space-xs: 0.4rem;
$space-sm: 0.8rem;
$space-md: 1.2rem;
$space-lg: 2rem;

@mixin space-between($value) {
    margin-block: $value;

    &:first-child {
        margin-block-start: 0;
    }

    &:last-child {
        margin-block-end: 0;
    }
}

$content-width: 650px;
$aside-width: 300px;

$single-width: calc(2 * ($aside-width + $space-md));
$full-width: calc($content-width + $aside-width + 3 * $space-md);

// Typography

$font-sans: "Rubik", sans-serif;
$font-serif: "Merriweather", serif;

$size-sm: 0.8rem;
$size-md: 1rem;
$size-lg: 1.2rem;
$size-xl: 1.6rem;
$size-2xl: 2.4rem;

@mixin font-display {
    font-family: $font-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

@mixin font-technical {
    font-family: $font-sans;
    font-weight: 300;
    font-style: normal;

    a {
        color: inherit;
        font-weight: normal;
    }
}

@mixin font-content {
    font-family: $font-sans;
    font-weight: normal;
    font-style: normal;
}

// Decoration

$shadow-offset: 1px;
$shadow-blur: 6px;

$border-thickness: 1px;
$border-radius: 2px;

$underline-thickness: 2px;

// Colors

$color-primary: #6d4c41;
$color-primary-dark: #4c352d;
$color-secondary: #3460bd;
$color-subtle-light: #e2e2e2;
$color-subtle: #c5c5c5;
$color-subtle-dark:#7c7c7c;
$color-neutral: #000000;
$color-base: #ffffff;
