@use './_tokens' as *;

* {
    box-sizing: border-box;
}

:root {
    @include font-content;
    
    background-color: $color-base;
    color: $color-neutral;
    font-size: $size-md;
}

h1, h2, h3, h4, h5, h6, p {
    @include space-between($space-md);
}

h1, h2, h3, h4, h5, h6 {
    @include font-display;
    font-size: $size-lg;
}

p, .prose {
    line-height: 1.8;
}

li {
    @include space-between($space-xs);
}

a {
    color: $color-secondary;
    text-decoration: underline;
    text-decoration-thickness: $underline-thickness;
}

img {
    display: block;
    border-radius: $border-radius;
    box-shadow: 0 $shadow-offset $shadow-blur $color-subtle;
}
