@use './_theme' as *;

* {
    box-sizing: border-box;
}

:root {
    @include font-content;
    
    background-color: $color-base;
    color: $color-dark;
    font-size: $size-md;
}

main > * {
    padding: 0 $space-md;
}

h1, h2, h3, h4, h5, h6 {
    @include font-display;

    margin-block: $space-md;
    
    color: $color-primary;
    font-size: $size-lg;
}

p {
    margin-block: $space-md;
}

a {
    font-weight: bold;
    color: $color-secondary;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $color-dark;
}
