@use './_tokens' as *;

* {
    box-sizing: border-box;
}

:root {
    @include font-content;
    
    background-color: $color-base;
    color: $color-neutral;
    font-size: $size-md;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    @include margin-between($space-md);
}

h1, h2, h3, h4, h5, h6 {
    @include font-display;
    font-size: $size-lg;
}

p, .prose {
    line-height: $line-height-lg;
}

.prose {
    h1, h2, h3, h4, h5, h6 {
        margin-block-start: $space-lg;
    }
}

li {
    @include margin-between($space-xs);
}

a {
    color: $color-secondary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: $underline-thickness;
    }
}

a[href^="/tag/"] {
    @include font-technical;
    color: $color-neutral;
    text-decoration: underline;
}

a[href^="/post/"] {
    @include font-display;
    color: $color-neutral;
    font-weight: bold;
}

img {
    display: block;
    border-radius: $border-radius;
    box-shadow: 0 $shadow-offset $shadow-blur $color-subtle;
}

ul, blockquote {
    margin-inline: 0;
    padding-inline: $space-lg;
}

blockquote {
    @include font-technical;

    p {
        white-space: pre;
    }
}

hr {
    margin-block: $space-lg;
    height: $border-thickness;
    border: none;
    background-color: $color-subtle;
    width: 20%;

    &.invisible {
        background-color: transparent;
    }
}
