@use './_theme' as *;

.prose {
    line-height: $size-xl;
    
    h1, h2, h3, h4, h5, h6, p {
        @include space-between($space-md);
    }
    
    li {
        @include space-between($space-sm);
    }

    img {
        display: block;
        border-radius: $border-radius;
        box-shadow: 0 $shadow-offset $shadow-blur $color-subtle;
    }
}
