---
import { getCollection } from "astro:content";
import PostList from "../components/PostList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout>
    <h1>Posts</h1>
    <PostList {posts} />
</BaseLayout>
