---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import formatDate from "../util/formatDate";

const posts = await getCollection("blog");
---

<BaseLayout>
    <h1>Posts</h1>
    <ul>
        {posts.map((post) => (
            <li>
                <a href={`/posts/${post.id}/`}>
                    {post.data.title} ({formatDate(post.data.pubDate)})
                </a>
            </li>
        ))}
    </ul>
</BaseLayout>
