---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
    post: CollectionEntry<"blog">;
}

export const getStaticPaths: GetStaticPaths = async () => {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
};

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout>
    <h1>{post.data.title}</h1>
    <p><i>{post.data.pubDate.toDateString()}</i></p>
    <Content />
</BaseLayout>
