<aside>
    <div>
        <slot />
    </div>
</aside>

<style lang="scss">
    @use "../styles/tokens" as *;

    aside {
        @media (min-width: $single-width) {
            float: inline-end;
            padding-inline-start: $space-md;
        }

        @media (min-width: $full-width) {
            position: relative;
            padding-inline-start: none;
        }
    }

    div {
        @media (min-width: $full-width) {
            position: absolute;
            width: $aside-width;
            right: calc(-1 * $space-lg - $aside-width);
        }
    }
</style>
