---
import '../styles/prose.scss';

import { render, type CollectionEntry } from 'astro:content'
import formatDate from '../util/formatDate';
import TagCluster from './TagCluster.astro';
import { Image } from 'astro:assets';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const pubDate = formatDate(post.data.pubDate);
const { Content } = await render(post);
---

<article>
    <header>
        <h1>{post.data.title}</h1>
        <p>{pubDate}</p>
        {post.data.cover !== undefined &&
            <Image class="cover" src={post.data.cover} alt={post.data.coverAlt ?? null} />
        }
        <TagCluster />
    </header>
    <div class="prose">
        <Content />
    </div>
</article>

<style lang="scss">
    @use '../styles/_theme' as *;

    header {
        margin-bottom: $space-md;

        > * {
            @include space-between($space-sm);
        }

        h1 {
            font-size: $size-xl;
        }

        p {
            @include font-technical;
        }

        img {
            padding: 0;
            margin: 0;
        }
    }
</style>
