<footer>
    <p>Made with <a href="https://astro.build/">Astro</a> and <a href="https://docs.github.com/en/pages">GitHub Pages</a></p>
    <p>View the source code on <a href="https://github.com/willburden/willburden.github.io">GitHub</a></p>
</footer>

<style lang="scss">
    @use '../styles/_tokens' as *;

    footer {
        margin-block-start: $space-lg;
        padding-block-end: $space-md;

        @include font-technical;
        text-align: center;
        font-size: $size-sm;

        > * {
            margin-block: 0;
        }
    }
</style>
