<footer>
    <!-- <p>Thanks for reading!</p> -->
</footer>

<style lang="scss">
    @use '../styles/_tokens' as *;

    footer {
        margin-block-start: $space-lg;
        padding-block-end: $space-md;

        @include font-technical;
        text-align: center;
        font-size: $size-sm;

        > * {
            margin-block: 0;
        }
    }
</style>
