---
interface Props {
    links: {
        text: string,
        href: string,
    }[],
}

const { links } = Astro.props;
---

{links.length > 0 &&
    <div>
        {links.map(({ text, href }) => (
            <span><a {href}>{text}</a></span>
        ))}
    </div>
}

<style lang="scss">
    @use '../styles/_tokens' as *;

    div {
        margin-block-start: -2px;

        span {
            &:not(:last-child)::after {
                content: "•";
                margin-inline: 0.3rem;
            }
        }
    }
</style>
