---
interface Props {
    tags: string[],
}

const { tags } = Astro.props;
---

{tags.length > 0 &&
    <div>
        {tags.map(tag => (
            <span><a href={`/tag/${tag}`}>{tag}</a></span>
        ))}
    </div>
}

<style lang="scss">
    @use '../styles/_tokens' as *;

    div {
        margin-block-start: -2px;

        span {
            &:not(:last-child)::after {
                content: "•";
                margin-inline: 0.3rem;
            }
        }
    }
</style>
