<ul {...Astro.props}>
    <li><a href="#">technology</a></li>
    <li><a href="#">web</a></li>
    <li><a href="#">tutorial</a></li>
    <li><a href="#">tag</a></li>
    <li><a href="#">another tag</a></li>
    <li><a href="#">last one</a></li>
</ul>

<style lang="scss">
    @use '../styles/_theme' as *;

    ul {
        padding-inline-start: $space-md;

        overflow-x: scroll;
        text-wrap: nowrap;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */

        ::-webkit-scrollbar {
            display: none;
        }

        li {
            display: inline-block;
            padding: $space-sm;
            margin-block-end: 0;

            border: $border-thickness solid $color-subtle;
            border-radius: $border-radius;
            box-shadow: 0 $border-thickness $color-subtle;
        }
    }
</style>
