<ul {...Astro.props}>
    <li><a href="#">technology</a></li>
    <li><a href="#">web</a></li>
    <li><a href="#">tutorial</a></li>
    <li><a href="#">tag</a></li>
    <li><a href="#">another tag</a></li>
    <li><a href="#">last one</a></li>
</ul>

<style lang="scss">
    @use '../styles/_theme' as *;

    ul {
        padding-block: $space-sm;
        padding-inline: $space-md;

        overflow-x: scroll;
        text-wrap: nowrap;

        // Hide the scrollbar (if supported)
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }

        li {
            display: inline-block;
            margin-block: 0;
            padding: $space-sm;

            border: $border-thickness solid $color-subtle;
            border-radius: $border-radius;
            box-shadow: 0 $shadow-offset $color-subtle;
        }
    }
</style>
