---
import { render, type CollectionEntry } from 'astro:content'
import PostHeader from './PostHeader.astro';

interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<article>
    <PostHeader data={post.data} />
    <div class="prose">
        <Content />
    </div>
</article>
