---
interface Props {
    tags: string[],
}

const { tags } = Astro.props;
---

{tags.length > 0 &&
    <ul>
        {tags.map(tag => (
            <li><a href="#">{tag}</a></li>
        ))}
    </ul>
}

<style lang="scss">
    @use '../../styles/_tokens' as *;

    ul {
        margin-block-start: 0;
        margin-block-end: calc($space-md - $space-xs);
        padding-block: $space-xs;
        padding-inline-start: 0;

        overflow-x: scroll;
        text-wrap: nowrap;

        // Hide the scrollbar (if supported)
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
            display: none;
        }

        li {
            display: inline-block;
            margin-block: 0;
            padding: $space-xs;

            border: $border-thickness solid $color-subtle;
            border-radius: $border-radius;
            box-shadow: 0 $shadow-offset $color-subtle;

            &:not(:last-child) {
                margin-inline-end: $space-xs;
            }
        }
    }
</style>
