---
import LinkFonts from '../components/meta/LinkFonts.astro';
import Header from '../components/Header.astro';
import '../styles/_normalise.scss';
import '../styles/global.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>willburden.github.io</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<LinkFonts />
	</head>
	
	<body>
		<Header />
		
		<main>
        	<slot />
		</main>
	</body>
</html>

<style lang="scss">
	@use '../styles/_theme' as *;

	main {
		padding: $space-lg 0;
	}
</style>
